.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeSlideIn 2s forwards, colorChange 3s infinite alternate;
    background: linear-gradient(45deg, #ff6b6b, #ffd93d, #6b6bff);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact_section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(45deg, #ff6b6b, #ffd93d, #6b6bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color:#d8d8d8 ;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
 display: flex;
 flex-direction: column;
 gap: 30px;
 color: #d8d8d8;
 font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width:600px ;
    height: 75px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #d3cdcd;
    font-family: outfit;
    font-size: 20px;
}

.contact-right textarea{
    width: 630px;
    border: none;
    padding: 25px;
    border-radius:4px ;
    background: #32323c;
    color: #d3cdcd;
    font-family: outfit;
    font-size:20px ;
}

.contact-submit{
    border: none;
    color: black;
    background: linear-gradient(45deg, #ff6b6b, #ffd93d, #6b6bff);
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 50px;
    transition: 1.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 500;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact_section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-details{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right{
        margin-top: -50px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
       width: 100%;
       font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}